<div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-6">
  <a [routerLink]="cardUrl">
    <img class="rounded-lg aspect-video object-cover w-full shadow-lg" src="{{ photoCover }}"
      alt="{{ photoCoverAlt }}" />
  </a>

  <div class="space-y-4">
    <span class="text-sm roboto-mono-regular">{{ cardDate }}</span>

    <h1 class="text-3xl md:text-4xl roboto-bold">
      <a [routerLink]="cardUrl">{{ cardTitle }}</a>
    </h1>

    <p class="leading-7 text-muted-foreground roboto-mono-regular">{{ cardSubtitle }}</p>
  </div>
</div>