<div class="flex flex-col gap-y-3 py-6 items-center">
  <p class="flex flex-wrap items-center roboto-mono-regular justify-center max-w-6xl mx-auto text-foreground text-sm">
    ©<span class="mx-1">{{ currentYear }}</span> OBlog. Todos direitos reservados.
  </p>

  <ul class="flex items-center gap-x-1.5">
    <li *ngFor="let social of socialNetworks">
      <a class="p-2 rounded-lg bg-transparent hover:bg-muted transition grid place-content-center"
        href="{{ social.url }}" target="_blank" rel="noopener noreferrer">
        <lucide-angular name="{{ social.icon }}" class="h-[1.2rem] w-[1.2rem] shrink-0" />
      </a>
    </li>
  </ul>
</div>