<section class="max-w-2xl mx-auto px-4 space-y-6">
  <a [routerLink]="['']"
    class="flex items-center gap-x-2 w-max border-b border-background hover:border-primary roboto-mono-regular transition">
    <lucide-angular name="move-left" [size]="14" />
    {{ textHomeLink }}
  </a>

  <div class="space-y-4">
    <span class="text-sm roboto-mono-regular">{{ datePost }}</span>

    <h1 class="text-3xl md:text-4xl roboto-bold">
      {{ title }}
    </h1>
  </div>

  <div>
    <app-post-content [content]="content" />
  </div>
</section>