@media (max-width: 1024px) {
  .container__big-card {
    flex-direction: column;
  }

  .right__big-card__title {
    max-width: 100%;
  }

  .right__big-card__description {
    max-width: 90%;
  }

  .container__big-card .left__big-card__photo {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .right__big-card__description {
    max-width: 100%;
  }

  .container__big-card .left__big-card__photo {
    width: 100%;
  }
}
