@media (max-width: 930px) {
    .container__big-card {
        display: flex;
        flex-direction: column;
    }

    .right {
        width: 90%;
    }
    
    .left__big-card__photo {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .right__big-card__title a {
        font-size: 2.4rem;
    }
}