.container__big-card {
  display: flex;
  justify-content: space-between;
  column-gap: 4rem;
  row-gap: 3.2rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.left__big-card__photo {
  width: 70rem;
}

.left__big-card__photo img {
  width: 100%;
  min-height: 26rem;
  border-radius: 0.8rem;
}

.right__big-card__date {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--secundary-color);
}

.right__big-card__title,
.right__big-card__description {
  width: 100%;
  overflow-wrap: break-word;
}

.right__big-card__title {
  max-width: 57rem;
}

.right__big-card__title a {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--tertiary-color);

  transition: 0.2s ease-in-out;
}

.right__big-card__title a:is(:hover) {
  filter: brightness(1.1);
}

.right__big-card__description {
  max-width: 47rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--secondary-color);
}
