<section class="max-w-6xl mx-auto px-4 space-y-5">
    <app-search-input (searchQuery)="query = $event; fuseSearch($event)" />

    <p *ngIf="query.length > 0" class="text-muted-foreground roboto-mono-regular">
        Encontrado {{ filteredPosts.length }} {{ filteredPosts.length === 1 ? "resultado" : "resultados" }} para "{{
        query }}"
    </p>

    <p class="roboto-mono-regular" *ngIf="query.length == 0">
        Digite o texto na caixa de pesquisa
    </p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-10 gap-y-12">
        <app-small-card *ngFor="let article of filteredPosts" [photoCover]="article.cover" [cardDate]="article.datePost"
            [cardTitle]="article.title" [cardUrl]="'/post/' + formatTitlePost(article.title)"
            [cardSubtitle]="article.subtitle" />
    </div>
</section>