@media (max-width: 790px) {
    .container__menu-title h1 {
        font-size: 9.6rem;
    }
}

@media (max-width: 540px) {
    .container__menu-title h1 {
        font-size: 8.0rem;
    }
}

@media (max-width: 425px) {
    .container__menu-title h1 {
        font-size: 7.4rem;
    }
}

@media (max-width: 320px) {
    .container__menu-title h1 {
        font-size: 5.2rem;
    }
}