.container__menu-title {
    color: #FFF;
    display: flex;
    justify-content: flex-start;
}

.container__menu-title h1 {
    font-size: 11.2rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}