<header>
    <app-menu-bar></app-menu-bar>
</header>

<main>
    <app-menu-title></app-menu-title>
    
    <section class="articles">
        <article class="articles__main-top">
            <app-big-card
                photoCover="https://hermes.dio.me/articles/cover/c1b7f860-b51e-4239-81c7-d76d04cebd00.png"
                cardDate="09 Março, 2023"
                cardTitle="Como Usar O ChatGPT Nos Seus Estudos de Programação"
                cardUrl="https://dio.me/articles/como-usar-o-chatgpt-nos-seus-estudos-de-programacao?q=1399"
                cardDescription="Descruba como tornar a IA (Inteligência Artificial) do ChatGPT em aliada nos seus estudos de programação!"
            ></app-big-card>
        </article>
        
        <article class="articles__others-bottom">
            <app-small-card
                photoCover="https://hermes.dio.me/articles/cover/4107bd6b-b0b4-43d0-9c73-03b5ba45aa45.png"
                cardDate="17 Fevereiro, 2023"
                cardTitle="Entenda as Formas de Transmissão de Dados Através Da Internet"
                cardUrl="https://dio.me/articles/entenda-as-formas-de-transmissao-de-dados-atraves-da-internet?q=591"
                cardDescription="Veja como seus dados são enviados de uma ponta a outra de forma simples!"
            ></app-small-card>

            <app-small-card
                photoCover="https://hermes.dio.me/articles/cover/4ebb552f-21db-4825-ba36-f30573159577.jpg"
                cardDate="01 Dezembro, 2022"
                cardTitle="Saiba Como Deixar Seu Perfil No GitHub Atrativo"
                cardUrl="https://dio.me/articles/saiba-como-deixar-seu-perfil-no-github-atrativo?q=1378"
                cardDescription="Aprenda a deixar seu perfil no GitHub estrategicamente mais atrativo e completo!"
            ></app-small-card>
        </article>
    </section>

</main>

<footer>
    <app-footer></app-footer>
</footer>

<router-outlet></router-outlet>
