<div class="container__small-card">
    <div class="top">
        <figure class="top__small-card__photo">
            <a href="{{ cardUrl }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ photoCover }}" alt="Imagem relacionada a capa">
            </a>
        </figure>
    </div>

    <div class="middle">
        <span class="middle__small-card__date">{{ cardDate }}</span>

        <h2 class="middle__small-card__title">
            <a href="{{ cardUrl }}" target="_blank" rel="noopener noreferrer">{{ cardTitle }}</a>
        </h2>

        <p class="middle__small-card__description">{{ cardDescription }}</p>
    </div>
</div>
