.container__small-card {
    display: flex;
    gap: 1.6rem;
}

.left__small-card__photo {
    width: 30.0rem;
}

.left__small-card__photo img {
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    object-fit: contain;
}

.right {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 50%;
}

.right__small-card__date {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--quaternary-color);
}

.right__small-card__title {
    width: 100%;
    overflow-wrap: break-word;
    line-height: 140%;
}
.right__small-card__title:is(:hover) {
    opacity: .87;
}

.right__small-card__title a {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--tertiary-color);
    margin-bottom: .4rem;
}