@media (max-width: 1024px) {
    .container__small-card {
        flex-direction: column;
        gap: .8rem;
    }

    .left__small-card__photo,
    .right {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .right__small-card__title {
        line-height: 2.2rem;
    }

    .right__small-card__title a {
        font-size: 1.4rem;
    }
}

@media (max-width: 375px) {
    .right__small-card__title a {
        font-size: 1.6rem;
    }
}