<div class="container__menu-bar">
  <div class="left">
    <a href="#app">{{ textNameBlog }}</a>
  </div>

  <div class="right">
    <ul>
      <li>
        <a
          class="social"
          href="https://www.linkedin.com/in/brunohnsouza"
          target="_blank"
          title="LinkedIn"
        >
          <lucide-angular
            name="linkedin"
            [size]="20"
            class="my-icon"
          ></lucide-angular>
        </a>
      </li>
      <li>
        <a
          class="social"
          href="https://github.com/brunohnsouza"
          target="_blank"
          title="GitHub"
        >
          <lucide-angular
            name="github"
            [size]="20"
            class="my-icon"
          ></lucide-angular>
        </a>
      </li>
      <li>
        <a
          class="social"
          href="https://brunosouzadev.netlify.app/"
          target="_blank"
          title="Portfólio"
        >
          <lucide-angular
            name="globe"
            [size]="20"
            class="my-icon"
          ></lucide-angular>
        </a>
      </li>
    </ul>
  </div>
</div>
