.container__menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(121.6rem, 90vw);
  margin: 0 auto;
  padding: 2rem 0;
}

.left a {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--tertiary-color);
}

.right ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.social .my-icon {
  color: var(--secondary-color);
  transition: 0.2s ease-in-out;
}
.social:is(:hover) .my-icon {
  color: var(--tertiary-color);
}
