* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary-color: #121214;
    --secundary-color: #808080;
    --tertiary-color: #FFF;
    --quaternary-color: #C4C4CC;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Switzer', sans-serif;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

a { 
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: .8rem;
    height: .8rem;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    background-color: var(--secundary-color);
}